.dropbox {
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  .hero-background {
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .hero-container {
    margin: 0 auto;
    max-width: 990px;
    box-sizing: content-box;
    position: relative;
    padding: 20px;
    min-height: 400px;
    .hero-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      font-family: $font-dropbox;
      max-width: 440px;
      color: #47525d;
      font-weight: 100;
      @media screen and (max-width :$screen-xs) {
        top: 15%;
        transform: none;
        -webkit-transform: none;
      }
      h1 {
        font-size: 47.25px;
        margin-bottom: 20px;
        line-height: 1.3;
      }
      h2 {
        margin: 0 auto;
        padding-bottom: 20px;
        font-size: 21px;
        line-height: 1.5;
      }
      .hero-try {
        margin: 30px 0 0 0;
        text-align: center;
        background: none;
        float: left;
        font-weight: 400;
        > a {
          padding: 19px 26px;
          font-size: 21px;
          background: #0071e0;
          color: #fff;
          display: block;
          text-align: center;
          border-radius: 6px;
          &:hover {
            background: #3398ea;
          }
        }
        span {
          display: block;
          text-align: left;
          margin-top: 15px;
          font-size: 16px;
          a {
            border-bottom: 1px solid #0071e0;
            color: #0071e0;
            &:hover {
              color: #3398ea;
            }
          }
        }
      }
    }
  }
  @media screen and (min-width :$db-screen-xs) {
    .hero-background {
      background-image: url(../img/dropbox-background.jpg);
      background-position: 370px center;
      background-position: 300px center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @media screen and (min-width :$db-screen-sm) {
    .hero-background {
      background-position: 370px center;
      background-repeat: no-repeat;
    }
  }
  @media screen and (min-width :$db-screen-md) {
    .hero-background {
      width: 1770px;
      position: absolute;
      left: 50%;
      margin-left: -885px;
      background-position: right center;
      background-size: contain;
    }
  }
  @media screen and (min-width :$db-screen-lg) {
    .hero-background {
      width: 100%;
    }
  }
  @media screen and (min-width: 400px) {
    .hero-container {
      text-align: left;
      margin: 0;
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
  @media screen and (min-width: 768px) {
    .hero-container {
      text-align: left;
      padding-top: 75px;
      padding-bottom: 75px;
      min-height: 550px;
    }
  }
  @media screen and (min-width: 991px) {
    .hero-container {
      position: relative;
      margin: 0 auto;
    }
  }
}
