$font-microsoft: "Segoe UI", Arial, sans-serif !default;
$font-dropbox: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif !default;
$font-invision: "Open Sans", "open-sans", sans-serif !default;
$font-oculus: "Open Sans", "open-sans", sans-serif !default;
$font-apple: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif !default;

//Colors
//  Microsoft
$font-color: #2f2f2f;
$ms-icon-color: #7f7f7f;
$color-hover: #f2f2f2;
//  invision
$in-font-color: #747c83;

//Media queries
//  Microsoft
$ms-screen-md: 992px !default;
$ms-screen-sm: 810px !default;
$ms-screen-xs: 560px !default;
//  Dropbox
$db-screen-lg: 1771px !default;
$db-screen-md: 1200px !default;
$db-screen-sm: 600px !default;
$db-screen-xs: 400px !default;
//  Invision
$in-screen-sm: 1032px !default;

// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@font-face {
	font-family: 'shell-icons';
	src:url('../fonts/shell-icons-0.4.0.eot');
	src:url('../fonts/shell-icons-0.4.0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:400;
	src:url("../fonts/myriad-set-pro_text.woff") format("woff");
}
@font-face {
	font-family:'Myriad Set Pro';
	font-style:normal;
	font-weight:600;
	src:url("../fonts/myriad-set-pro_semibold.woff") format("woff");
}

@import "_microsoft.scss";
@import "_dropbox.scss";
@import "_invision.scss";
@import "_oculus.scss";
@import "_apple.scss";
