$font-microsoft: "Segoe UI", Arial, sans-serif;

//Colors

//Microsoft
$font-color: #2f2f2f;
$ms-icon-color: #7f7f7f;
$color-hover: #f2f2f2;
$brand-secondary: #1fb5f6 !default;

// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@font-face {
	font-family: 'shell-icons';
	src:url('../fonts/shell-icons-0.4.0.eot');
	src:url('../fonts/shell-icons-0.4.0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@import "microsoft.scss";
@import "dropbox.scss";
